In [1]:
import pandas as pd

In [2]:
import numpy as np

In [21]:
# Q1) Create a DataFrame named financial_data that contains quarterly financial metrics for the years 2021 and 2022. The metrics
#     include "Sales" and "Expenses," which are further divided into "Online" and "In-Store" channels.

# Creating a multi-level column DataFrame for financial data
data = {
    ('Sales', 'Online'): [10000, 15000, 20000, 25000, 30000, 35000, 40000, 45000],
    ('Sales', 'In-Store'): [20000, 25000, 22000, 27000, 28000, 32000, 35000, 40000],
    ('Expenses', 'Online'): [5000, 7000, 9000, 10000, 12000, 13000, 14000, 15000],
    ('Expenses', 'In-Store'): [8000, 10000, 11000, 12000, 13000, 14000, 15000, 16000],
}

# Index for quarters and years
index = pd.MultiIndex.from_tuples(
    [('2021', 'Q1'), ('2021', 'Q2'), ('2021', 'Q3'), ('2021', 'Q4'),
     ('2022', 'Q1'), ('2022', 'Q2'), ('2022', 'Q3'), ('2022', 'Q4')],
    names=['Year', 'Quarter']
)

# Creating DataFrame
financial_data = pd.DataFrame(data, index=index)

# Display the DataFrame
print(financial_data)

              Sales          Expenses
             Online In-Store   Online In-Store
Year Quarter
2021 Q1       10000    20000     5000     8000
     Q2       15000    25000     7000    10000
     Q3       20000    22000     9000    11000
     Q4       25000    27000    10000    12000
2022 Q1       30000    28000    12000    13000
     Q2       35000    32000    13000    14000
     Q3       40000    35000    14000    15000
     Q4       45000    40000    15000    16000

In [22]:
# a) What are the online sales for Q1 2022?

online_sales_q1_2022 = financial_data.loc[('2022', 'Q1'), ('Sales', 'Online')]
print(online_sales_q1_2022)

30000

In [23]:
# b) How much were the in-store expenses in Q3 2021?

in_store_expenses_q3_2021 = financial_data.loc[('2021', 'Q3'), ('Expenses', 'In-Store')]
print(in_store_expenses_q3_2021)

11000

In [24]:
# c) What are the total sales for Q4 2021?

total_sales_q4_2021 = financial_data.loc[('2021', 'Q4'), [('Sales', 'Online'), ('Sales', 'In-Store')]].sum()
print(total_sales_q4_2021)

52000

In [25]:
# d) What were the expenses for the online channel in 2022?

online_expenses_2022 = financial_data.loc['2022', ('Expenses', 'Online')].sum()
print(online_expenses_2022)

54000

In [27]:
# e) Retrieve sales data for Q2 2021.

sales_q2_2021 = financial_data.loc[('2021', 'Q2'), [('Sales', 'Online'), ('Sales', 'In-Store')]]
print(sales_q2_2021)

Sales  Online      15000
       In-Store    25000
Name: (2021, Q2), dtype: int64

In [28]:
# f) What is the maximum expense recorded in 2022?

max_expense_2022 = financial_data.loc['2022', [('Expenses', 'Online'), ('Expenses', 'In-Store')]].max().max()
print(max_expense_2022)

16000

In [29]:
# Q2 Stack a DataFrame of Store, Product, and Sales.

# Sample DataFrame for Store, Product, and Sales
data = {
    'Store': ['Store A', 'Store A', 'Store B', 'Store B'],
    'Product': ['Product X', 'Product Y', 'Product X', 'Product Y'],
    'Sales': [500, 600, 700, 800]
}

df = pd.DataFrame(data)

# Setting multi-index
df = df.set_index(['Store', 'Product'])

# Stacking the DataFrame
stacked_df = df.stack()
print(stacked_df)

Store    Product
Store A  Product X  Sales    500
         Product Y  Sales    600
Store B  Product X  Sales    700
         Product Y  Sales    800
dtype: int64

In [30]:
# Q3 Unstack it to show sales by store.

# Unstacking the previous stacked DataFrame
unstacked_df = stacked_df.unstack(level=0)
print(unstacked_df)

Store            Store A  Store B
Product
Product X Sales      500      700
Product Y Sales      600      800

In [31]:
# Q4 Create a multi-index with Department and Role

# Sample DataFrame with Department and Role
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department': ['HR', 'Engineering', 'Engineering', 'HR'],
    'Role': ['Manager', 'Developer', 'Developer', 'Assistant']
}

df = pd.DataFrame(data)

# Setting multi-index
df.set_index(['Department', 'Role'], inplace=True)
print(df)

                      Employee
Department  Role
HR          Manager      Alice
Engineering Developer      Bob
            Developer  Charlie
HR          Assistant    David

In [32]:
# Q5 Access employees from a specific department.

# Accessing employees from the 'Engineering' department
engineering_employees = df.loc['Engineering']
print(engineering_employees)

          Employee
Role
Developer      Bob
Developer  Charlie

In [33]:
# Q6 Sort a DataFrame of student grades by Subject and Grade

# Sample DataFrame with student grades
data = {
    'Student': ['John', 'Anna', 'Peter', 'Linda'],
    'Subject': ['Math', 'Math', 'History', 'History'],
    'Grade': [90, 95, 85, 80]
}

df = pd.DataFrame(data)

# Sorting by Subject and Grade
sorted_grades = df.sort_values(by=['Subject', 'Grade'], ascending=[True, False])
print(sorted_grades)

  Student  Subject  Grade
2   Peter  History     85
3   Linda  History     80
1    Anna     Math     95
0    John     Math     90

In [34]:
# Q7 Reset the index of the sorted grades.

# Resetting the index
reset_grades = sorted_grades.reset_index(drop=True)
print(reset_grades)

  Student  Subject  Grade
0   Peter  History     85
1   Linda  History     80
2    Anna     Math     95
3    John     Math     90

In [35]:
# Q8 Set the Date column as the index in a weather DataFrame.

# Sample weather DataFrame
data = {
    'Date': ['2021-06-01', '2021-06-02', '2021-06-03'],
    'Temperature': [30, 32, 33],
    'Humidity': [80, 85, 90]
}

df = pd.DataFrame(data)

# Setting the Date column as the index
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
print(df)

            Temperature  Humidity
Date
2021-06-01           30        80
2021-06-02           32        85
2021-06-03           33        90

In [36]:
# Q9 Flatten a multi-index DataFrame of product sales.

# Sample multi-index DataFrame
arrays = [['2021', '2021', '2022', '2022'], ['Q1', 'Q2', 'Q1', 'Q2']]
index = pd.MultiIndex.from_arrays(arrays, names=('Year', 'Quarter'))

data = {
    'Product A': [100, 150, 200, 250],
    'Product B': [120, 160, 180, 220]
}

df = pd.DataFrame(data, index=index)

# Flattening the multi-index DataFrame
df_flat = df.reset_index()
print(df_flat)

   Year Quarter  Product A  Product B
0  2021      Q1        100        120
1  2021      Q2        150        160
2  2022      Q1        200        180
3  2022      Q2        250        220

In [41]:
# Q10 Create a multi-index using Category and Product in a product DataFrame. Then, average the levels in the column.

# Sample product DataFrame
data = {
    'Category': ['Electronics', 'Electronics', 'Furniture', 'Furniture'],
    'Product': ['Phone', 'Laptop', 'Chair', 'Table'],
    'Sales': [5000, 7000, 3000, 4000]
}

df = pd.DataFrame(data)
df

      Category Product  Sales
0  Electronics   Phone   5000
1  Electronics  Laptop   7000
2    Furniture   Chair   3000
3    Furniture   Table   4000

In [42]:
# Creating multi-index
df.set_index(['Category', 'Product'], inplace=True)

# Averaging the sales for each category
average_sales = df.groupby('Category').mean()
print(average_sales)

              Sales
Category
Electronics  6000.0
Furniture    3500.0